<div class="footer wf-section">
    <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60214361c94b721f56e79a7b_wave.png" loading="lazy" sizes="100vw" srcset="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60214361c94b721f56e79a7b_wave-p-500.png 500w, https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60214361c94b721f56e79a7b_wave-p-800.png 800w, https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60214361c94b721f56e79a7b_wave-p-1080.png 1080w, https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60214361c94b721f56e79a7b_wave-p-1600.png 1600w, https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60214361c94b721f56e79a7b_wave-p-2000.png 2000w, https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60214361c94b721f56e79a7b_wave.png 5120w" alt="wave footer" class="image"/>
    <div id="Contact" class="footer-top">
        <div class="content-wrapper vertical-align">
            <div class="contact-wrapper">
                <div class="contact-content"><h4 class="h4">Contact</h4>
                    <p class="small-paragraph">+12 345 678 900</p>
                    <p class="small-paragraph">info@foodhouse.com</p>
                    <p class="small-paragraph">123 Old Street, London</p>
                    <a data-w-id="264234fb-d14d-f2ac-9ae6-125fd946f1cd" href="index.html#" class="button-primary w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602117262492dc723b0865db_ionicons-call.svg" loading="lazy" alt="call icon" class="call-icon"/>
                        <p>Order Now</p>
                    </a>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1476.8385688334683!2d3.2301286110314535!3d48.50039591008292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ef39f6518fca8d%3A0xe0d0995676636c81!2s13%20Rue%20du%20Vieux%20Moulin%2C%2077650%20Jutigny%2C%20France!5e0!3m2!1sen!2scd!4v1662150724900!5m2!1sen!2scd" class="map w-widget w-widget-map" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="opening-wrapper">
                <h4 class="h4 margin-bottom">Opening Hours</h4>
                <div class="opening-content"><p>Monday</p><p>Closed</p></div>
                <div class="opening-content"><p>Tuesday</p><p>12:00 - 23:00</p></div>
                <div class="opening-content"><p>Wednesday</p><p>12:00 - 23:00</p></div>
                <div class="opening-content"><p>Thursday</p><p>12:00 - 23:00</p></div>
                <div class="opening-content"><p>Friday</p><p>12:00 - 00:00</p></div>
                <div class="opening-content"><p>Saturday</p><p>12:00 - 00:00</p></div>
                <div class="opening-content"><p>Sunday</p><p>12:00 - 23:00</p></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="xs-paragraph">
            Template made by <a href="http://mariamarin.webflow.io" data-w-id="264234fb-d14d-f2ac-9ae6-125fd946f1fb" target="_blank" class="link-footer">Maria Marin Munoz</a> <span class="footer-span">★</span>
            Powered by <a href="https://webflow.com/" target="_blank" class="link-footer">Webflow</a>
        </p>
    </div>
</div>
