<div class="content-wrapper top-margin">
    <div class="breadcrumbs">
        <a href="{{ path('app_index') }}" class="link">Home</a>
        <div class="slash">/</div>
        <a href="{{ path('app_dish_index') }}" class="link">Plats</a>
        <div class="slash">/</div>
        <a href="{{ path('app_category_index') }}" class="link">Catégories</a>
        <div class="slash">/</div>
        <a href="{{ path('app_command_index') }}" class="link">Commandes</a>
    </div>
</div>
