<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="content-wrapper">
        <a href="{{ path('app_index') }}" class="brand-wrapper w-inline-block">MetiRest</a>

        <div class="nav-menu">
            <a href="{{ path('app_about') }}" data-w-id="49010214-0a01-0fe6-c11f-c58640da0cd2" class="nav-link w-inline-block">
                <div>A propos</div>
            </a>
            <a href="{{ path('app_recette_index') }}" class="nav-link w-inline-block">
                <div>Nos plats et tarifs</div>
            </a>
            <a href="{{ path('app_contact') }}" class="nav-link w-inline-block">
                <div>Contact</div>
            </a>
        </div>
        <div data-w-id="49010214-0a01-0fe6-c11f-c58640da0ce1" class="menu-button">
            <div class="top-burger-line"></div>
            <div class="center-burger-line"></div>
            <div class="bottom-burger-line"></div>
        </div>
    </div>
</div>
