{% extends 'base.html.twig' %}
{% block title "about" %}

{% block body %}
    <h1>A propos de nous</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta fuga illum placeat unde voluptatibus! Ad aliquid aspernatur assumenda cupiditate dicta exercitationem illo laudantium porro sint. Dolorem incidunt laborum minus quae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem illum laboriosam magni molestiae possimus quidem, ratione saepe. A aliquam asperiores commodi, dolore, hic ipsum minima modi natus obcaecati repellendus sequi.</p>
{% endblock %}
