{% extends 'base.html.twig' %}
{% block title "about" %}

{% block body %}
    <div class="section wf-section">
        <div class="content-wrapper top-margin">
            <div class="breadcrumbs"><a href="{{ path('app_index') }}" class="link">Home</a>
                <div class="slash">/</div>
                <div class="breadcrumb-text">A propos de nous</div>
            </div>
        </div>
        <h1 class="h2 top-margin app-title">A propos de nous</h1>
        <div class="content-wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta fuga illum placeat unde voluptatibus! Ad aliquid aspernatur assumenda cupiditate dicta exercitationem illo laudantium porro sint. Dolorem incidunt laborum minus quae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem illum laboriosam magni molestiae possimus quidem, ratione saepe. A aliquam asperiores commodi, dolore, hic ipsum minima modi natus obcaecati repellendus sequi.</p>
        </div>
    </div>
{% endblock %}
