{% extends 'base.html.twig' %}
{% block title "Contact" %}

{% block body %}
    <div class="section wf-section">
        <div class="content-wrapper top-margin">
            <div class="breadcrumbs"><a href="{{ path('app_index') }}" class="link">Home</a>
                <div class="slash">/</div>
                <div class="breadcrumb-text">Contact</div>
            </div>
        </div>
        <h1 class="h2 top-margin">Contactez-vous</h1>
        <div class="content-wrapper">
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="button-primary">envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
