{% extends 'base.html.twig' %}

{% block body %}
    <div id="Home" class="hero-section wf-section">
        <div class="hero-wrapper">
            <div class="hero-content"><h1 data-w-id="Heading" style="opacity:0" class="h1">Enjoy healthy and delicious
                    food.</h1>
                <p data-w-id="Paragraph" style="opacity:0">Etiam eros elit, consequat id varius vel, auctor et velit. Nulla
                    interdum tempus felis, id venenatis enim lacinia pretium.</p>
                <div class="button-wrapper"><a data-w-id="16fbc689-2b1c-d772-5c7e-727e24a5105c" style="opacity:0"
                                               href="index.html#" class="button-primary top-margin w-inline-block"><img
                                src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602117262492dc723b0865db_ionicons-call.svg"
                                loading="lazy" alt="call icon" class="call-icon"/>
                        <p>Order Now</p></a>
                    <p data-w-id="e24d44f2-5068-afb2-0f26-64628ab01d68" style="opacity:0" class="small-paragraph">+12 345
                        678 900</p></div>
            </div>
            <div class="social-links"><a data-w-id="Link Block 2" style="opacity:0" href="https://twitter.com"
                                         target="_blank" class="social-link w-inline-block"></a><a
                        data-w-id="b31f6d38-f3b1-dc1d-a246-6a072b353837" style="opacity:0" href="https://www.facebook.com"
                        target="_blank" class="social-link facebook w-inline-block"></a><a
                        data-w-id="245a21ca-0a8d-b6c4-4955-0014a61357aa" style="opacity:0" href="https://www.instagram.com"
                        target="_blank" class="social-link instagram w-inline-block"></a></div>
            <div data-w-id="eb2b7bc5-cf83-5bab-8b44-083408a333b0" style="opacity:0" class="mouse-icon"><img
                        src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602157b9b8c6122896a55c0f_wheel-mouse.svg"
                        loading="lazy" data-w-id="4222a2d7-a215-7ad2-ac30-614196e7a8ee" alt="wheel mouse"/></div>
        </div>
    </div>
    <div class="section wf-section">
        <div data-w-id="380de22a-38f8-80e7-b80c-e1a3b6adae64" style="opacity:0" class="features-wrapper">
            <div class="feature-wrapper"><img
                        src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60215c2562d42fefb806b9ac_noun-salad.svg"
                        loading="lazy" alt="salad icon" class="feature-image"/>
                <p class="semibold-paragraph">Quality Food</p>
                <p class="xs-paragraph center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis ultricies
                    augue.</p></div>
            <div class="feature-wrapper">
                <div class="vertical-line"></div>
                <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60215c247ef6777ec39df95b_noun-leaf.svg"
                     loading="lazy" alt="leaf icon" class="feature-image"/>
                <p class="semibold-paragraph">100% Organic Guarantee</p>
                <p class="xs-paragraph center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis ultricies
                    augue.</p></div>
            <div class="feature-wrapper">
                <div class="vertical-line"></div>
                <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60215c3c42193703e0579714_noun-delivery-truck.svg"
                     loading="lazy" alt="truck icon" class="feature-image"/>
                <p class="semibold-paragraph">Fast Delivery</p>
                <p class="xs-paragraph center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis ultricies
                    augue.</p></div>
        </div>
    </div>
    <div id="Menu" class="section wf-section">
        <div class="content-wrapper"><h2 class="h2 center">Try our delicious dishes</h2></div>
        <div class="content-wrapper">
            <div data-duration-in="300" data-duration-out="100" data-w-id="a2bf0c1f-f52f-aa88-21e4-e7fa505c5bf4" style="opacity:0" data-current="Tab 2" data-easing="ease" class="tabs w-tabs">
                <div class="tabs-menu w-tab-menu">
                    <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link w--current">
                        <div>Dishes</div>
                    </a>
                </div>
                <div class="tabs-content w-tab-content">
                    <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
                        <div class="w-dyn-list">
                            <div role="list" class="collection-list w-dyn-items">
                                {% for dish in dishes %}
                                    <div role="listitem" class="w-dyn-item">
                                        {% include '_component/dish_card.html.twig' with {dish: dish} %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="w-dyn-list">
                            <div role="list" class="w-dyn-items">
                                <div role="listitem" class="w-dyn-item">
                                    <div class="content-wrapper center">
                                        <a data-w-id="c41a0a84-6c65-eaad-bfb6-8a1002a8ed51" style="opacity:0" href="{{ path('app_recette_index') }}" class="button-primary w-inline-block">
                                            <p>See all dishes</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="About" class="section wf-section">
        <div class="content-wrapper vertical-align">
            <div class="image-grid">
                <div data-w-id="Div Block 14" style="opacity:0" class="large-image-1"></div>
                <div id="w-node-div-block-15-085088a6" data-w-id="Div Block 15" style="opacity:0"
                     class="small-image-1"></div>
                <div id="w-node-div-block-17-085088a6" data-w-id="Div Block 17" style="opacity:0"
                     class="small-image-2"></div>
                <div data-w-id="Div Block 16" style="opacity:0" class="large-image-2"></div>
            </div>
            <div class="about-content"><h2 class="h2">Discover more <br/>about us</h2>
                <p data-w-id="Paragraph 4" style="opacity:0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    molestie euismod mi, in fringilla neque condimentum ut. In hac habitasse platea dictumst. Aenean sit
                    amet tempus justo. Nulla sagittis lacinia diam, consequat sodales nibh. Etiam gravida lacus at lorem
                    convallis, in sollicitudin ex euismod. Etiam mattis luctus mauris quis mattis. <br/><br/>Phasellus quis
                    ipsum at risus blandit tristique quis vitae urna. Donec eget ligula id elit ultrices tristique ut nec
                    est. Nunc elementum scelerisque lacus a dictum. Maecenas sit amet vestibulum ex.</p></div>
        </div>
    </div>
    <div id="Gallery" class="section wf-section">
        <div class="content-wrapper">
            <div class="gallery-grid">
                <div class="gallery-image-wrapper"><a href="index.html#" class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a223b5fb13b9c45f3b_Breakfast-small.jpg"
                             loading="lazy" alt="breakfast image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "6025508879eec13b2ca7b71b",
                                        "origFileName": "breakfast.jpg",
                                        "fileName": "breakfast.jpg",
                                        "fileSize": 281344,
                                        "height": 1000,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6025508879eec13b2ca7b71b_breakfast.jpg",
                                        "width": 1000,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper"><a href="index.html#" class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a390c80bebad4bfbc0_Ingredients-small.jpg"
                             loading="lazy" alt="ingredients image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "602550b2c643184b36646dca",
                                        "origFileName": "ingredients.jpg",
                                        "fileName": "ingredients.jpg",
                                        "fileSize": 275931,
                                        "height": 1000,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602550b2c643184b36646dca_ingredients.jpg",
                                        "width": 1000,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper"><a href="index.html#" class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a25913dd43ac875981_Fruits-small.jpg"
                             loading="lazy" alt="fruits image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "602551e4f4c5e441afb69861",
                                        "origFileName": "fruit.jpg",
                                        "fileName": "fruit.jpg",
                                        "fileSize": 116447,
                                        "height": 1500,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602551e4f4c5e441afb69861_fruit.jpg",
                                        "width": 1001,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper top-margin"><a href="index.html#"
                                                                 class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a3048dff5a719ad313_Soup-small.jpg"
                             loading="lazy" alt="soup image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "602551fcab4d801eac7617ad",
                                        "origFileName": "soup-2.jpg",
                                        "fileName": "soup-2.jpg",
                                        "fileSize": 159375,
                                        "height": 1500,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602551fcab4d801eac7617ad_soup-2.jpg",
                                        "width": 1357,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper"><a href="index.html#" class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a3cfe6f9db1b987ac4_Salad-small.jpg"
                             loading="lazy" alt="small salad image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "602552125a672c2c5a83c435",
                                        "origFileName": "salad-2.jpg",
                                        "fileName": "salad-2.jpg",
                                        "fileSize": 202131,
                                        "height": 1026,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602552125a672c2c5a83c435_salad-2.jpg",
                                        "width": 1500,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper"><a href="index.html#" class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a4b7aed24715ae16e2_Yogurt-small.jpg"
                             loading="lazy" alt="small yogurt image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "6025522ef0d6f2128b6230e3",
                                        "origFileName": "yogurt.jpg",
                                        "fileName": "yogurt.jpg",
                                        "fileSize": 105276,
                                        "height": 1500,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6025522ef0d6f2128b6230e3_yogurt.jpg",
                                        "width": 1001,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper top-margin"><a href="index.html#"
                                                                 class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a3f21230b6445f27b8_Bread-small.jpg"
                             loading="lazy" alt="bread image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "60255168f2123057f75f4e7d",
                                        "origFileName": "bread.jpg",
                                        "fileName": "bread.jpg",
                                        "fileSize": 179492,
                                        "height": 1500,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60255168f2123057f75f4e7d_bread.jpg",
                                        "width": 1001,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper"><a href="index.html#" class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a42b2c709c7dfe76da_Rice-small.jpg"
                             loading="lazy" alt="rice image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "60255076778dff2a6579ea40",
                                        "origFileName": "rice&vegetables.jpg",
                                        "fileName": "rice&vegetables.jpg",
                                        "fileSize": 271522,
                                        "height": 1001,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60255076778dff2a6579ea40_rice%26vegetables.jpg",
                                        "width": 1500,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper top-margin"><a href="index.html#"
                                                                 class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a41440871600bb3570_Yogurt-fruits-small.jpg"
                             loading="lazy" alt="yogurt with fruits image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "60255261dab848ab5f870fb5",
                                        "origFileName": "yogurt&fruit.jpg",
                                        "fileName": "yogurt&fruit.jpg",
                                        "fileSize": 236124,
                                        "height": 1000,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/60255261dab848ab5f870fb5_yogurt%26fruit.jpg",
                                        "width": 1500,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
                <div class="gallery-image-wrapper"><a href="index.html#" class="lightbox-link w-inline-block w-lightbox">
                        <div class="image-overlay"><img
                                    src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/6022a277103316af2ef76690_noun-search.svg"
                                    loading="lazy" alt="search icon" class="seach-icon"/></div>
                        <img src="https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602549a30d4c5c62670287e2_Pancakes-small.jpg"
                             loading="lazy" alt="pancakes image" class="gallery-image"/>
                        <script type="application/json" class="w-json">{
                                "items": [
                                    {
                                        "_id": "602552723c8ac079591005d8",
                                        "origFileName": "orange-crepes.jpg",
                                        "fileName": "orange-crepes.jpg",
                                        "fileSize": 203121,
                                        "height": 1500,
                                        "url": "https://uploads-ssl.webflow.com/6020f345c078342ed95088a5/602552723c8ac079591005d8_orange-crepes.jpg",
                                        "width": 1001,
                                        "type": "image"
                                    }
                                ],
                                "group": "Gallery Collection"
                            }</script>
                    </a></div>
            </div>
        </div>
    </div>
{% endblock %}
