{% extends 'base.html.twig' %}

{% block title %}New Dish{% endblock %}

{% block body %}
    <h1>Ajouter Dish</h1>

    {{ include('dish/_form.html.twig') }}

    <a href="{{ path('app_dish_index') }}">Retour à lsite</a>
{% endblock %}
